################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetPOO2016/SFMLproject/Menu/Menu.cs
